/* Skip to content styling */

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -30px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

.skip a:focus{
  top:20px;
  color: black;
  text-decoration-style: solid;
}

/* Mobile screen styling */

header, body, footer {
  background-color: #DC908F;
  font-family: 'Montserrat', sans-serif;
}

.description {
  text-align: left;
  position: relative;
}

footer {
  margin: 50px;
  text-align: center;
  font-size: 20px;
}

header {
  padding: 5px;
  margin-left: 15px;
}

main {
  margin: 50px;
  margin-top: 0px;
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

p {
  font-size: 20px;
}

li {
  padding-top: 20px;
  font-size: 20px;
  margin-left: 20px;
}

#title {
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  margin: 30px;
}

.headshot{
  width: 50%;
  margin-bottom: 20px;
}

.projects-description p{
  padding-top: 20px;
}

/* Navigation styling */

nav {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  margin: 30px 50px 30px 20px;
  font-size: 20px;
}

nav a{
  text-decoration: none;
  color: #031424;
  padding: 10px;
}

nav a:hover {
    color: #f0f1f2;
  }
  
.active {
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 10px;
    color: #031424;
  }

/* Grid styling */

.grid-container {
  display: grid;
  grid-template-columns: 90%;
  grid-template-rows: repeat(8, auto);
  align-items: center;
  justify-items: stretch;
  justify-content: space-evenly;
}

.grid-container img {
  margin: 20px;
}

/* Flex styling */

.flex-gallery{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.flex-gallery img{
  width: 50%;
  height: 50%;
  align-self: center;
}

/* Form Styling */

label{
  display: inline-block;
  margin-right:10px;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 20px 20px;
  display: inline-block;
  border: 3px solid #031424;
  border-radius: 10px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

textarea{
  width: 100%;
  height: 20vh;
  padding: 12px 20px;
  display: inline-block;
  box-sizing: border-box;
  border: 3px solid #031424;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
}

#send {
  width: 150px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 20px;
  font-size: 24px;
}

/* Scroll button styling */

#button {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(3,20,36, 0.75); 
  color: #f0f1f2; 
  font-size: 20px; 
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  padding: 15px; 
  border-radius: 10px; 
  z-index: 99; 
}

#button:hover {
  background-color: rgb(3,20,36); 
}

html {
  scroll-behavior: smooth;
}

/* Tablet view */
@media screen and (min-width: 768px){
  header, body, footer {
    background-color: #f0f1f2;
  }

  nav {
    flex-direction: row;
    justify-content: flex-end;
  }

  nav a:hover {
    color: #4D6C84;
  }

  #title {
    position: absolute;
    text-align: left;
  }

  .headshot {
    width: 25%;
  }

  .grid-container {
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: auto auto auto;
  }

  .flex-gallery{
    flex-direction: row;
  }

  .flex-gallery img{
    width: 25%;
    height: 30%;
  }
}

/* Desktop view */

@media screen and (min-width: 992px) {
  header, body, footer {
    background-color: #8EAEBD;
  }

  nav a:hover {
    color: #6D2522;
  }
  
  nav {
    flex-direction: row;
    justify-content: flex-end;
  }

  #title {
    position: absolute;
    margin: 30px;
  }
  
  .headshot {
    width: 25%;
  }

  .grid-container {
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: auto auto;
  }

  .flex-gallery{
    flex-direction: row;
  }

  .flex-gallery img{
    width: 15%;
  }

  #home-description {
    display: inline;
    position: absolute;
    margin-left: 50px;
    margin-top: 50px;
    font-size: 60px;
  }
}

